* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* consolidated ".header div ul li" with ".header div ul" to eliminate redundancies.
attempted to put "a" in the same section but that turned the text purple from white */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* consolidated 3 classes "search-engine-optimization", "online-reputation-management"
and "social-media-marketing", which all had identical parameters into one class
of "box" and moved their coding up towards the content section for organizationpurposes */
.content .box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* consolidated all h2's in the content section. added top margin for aesthetic
of text within the box */
.content h2{
    margin-bottom: 20px;
    font-size: 36px;
    margin-top: 50px;
}
/* consolidated 3 separate classes of images images within content that all
had identical parameters into one class. Also moved the CSS for these images
up towards the ".content" class for organization purposes */
.content img{
    max-height: 200px;
}

.float-left{
    float: left;
    margin-right: 25px;
}
.float-right{
    float: right;
    margin-right: 25px;
}
/*removed different classes of "benefit-lead" "benefit-awareness"
and "benefit management" into the benefit section to trim down css and
html  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
    align-items: justify content;
}
/* consolidated all benefit subsections h3's into one class.
    changed "margin-bottom: 10px;" to "margin: 10 px;" */
.benefits h3 {
    margin: 10px;
    text-align: center;
}
/* consolidated all img subclasses within benefits class into one class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
